{
	email {$ACME_EMAIL}
}

www.{$SITE_HOST} {
	redir https://{$SITE_HOST}{uri} permanent
}

{$SITE_HOST} {
	encode gzip
	reverse_proxy web:80 {
		header_up X-Forwarded-Proto {scheme}
		header_up X-Real-IP {remote_host}
		header_up X-Forwarded-For {remote_host}
	}
}
